<main class="p-5">
  <h1>Hello World !</h1>

  {{> title data="My title"}}

  <style>
    h2 {
      color: green
    }

    ;

    h3 {
      color: rgb(126, 28, 255)
    }
  </style>



  <div style="color: yellow; background: blue;">This is text</div>

  <h1 style="color: blue; background: yellow;">This is text</h1>
</main>