<main>
  <h1 class="text-center text-uppercase">Hello world</h1>
  <h2 class="text-end text-lowercase">SeconD</h2>
  <h3 class="text-capitalize">3 title man women guy fast</h3>

  <hr />

  <div class="display-1">Hello world</div>
  <div class="display-5">Second</div>
  <div class="display-6">3 title</div>

  <hr />

  <div class="text-muted text-end">
    Додатковий <pan class="display-6">текст</pan>
  </div>

  <span class="text-muted text-end">Додатковий текст</span>

  <hr />

  <button class="btn btn-primary">Test button</button>

  <button class="btn btn-primary">
    <span class="text-uppercase">Button primary</span>
    <h1>Test</h1>
  </button>

  <a href="djds" class="btn btn-link">Посилання</a>

  <hr />

  <p class="text-danger">My text</p>
  <p class="text-primary">My text</p>

  <hr />

  <button class="btn btn-secondary">Додати</button>
  <button class="btn btn-outline-secondary">Редагувати</button>
  <button class="btn btn-outline-danger">Видалити</button>

  <hr />
  <button class="btn btn-outline-secondary btn-lg">Large</button>
  <button class="btn btn-outline-secondary btn-sm">Small</button>

  <hr />

  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="card">
    <div class="card-body">
      <button class="btn btn-secondary">Додати</button>
      <button class="btn btn-outline-secondary">Редагувати</button>
      <button class="btn btn-outline-danger">Видалити</button>
    </div>
  </div>


</main>