<main class="p-5">
  <div class="row">
    <div class="col-12 mb-5">
      <div class="nav nav-tabs">
        <div class="nav-item">
          <a href="#" class="nav-link active">Main</a>
        </div>


        <div class="nav-item">
          <a href="#" class="nav-link disabled">Catalog</a>
        </div>


        <div class="nav-item">
          <a href="#" class="nav-link ">Shop list</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="nav flex-column">
            <div class="nav-item">
              <div class="card mb-3">
                <a href="/summary" class="nav-link">Home page</a>
              </div>
            </div>


            <div class="nav-item">
              <div class="card mb-1">
                <a href="#" class="nav-link disabled">Bootstrap</a>
              </div>
            </div>


            <div class="nav-item">
              <div class="card">
                <a href="/skills" class="nav-link ">FAQ page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>

            <li class="breadcrumb-item">
              <a href="#">PC та Ноутбук</a>
            </li>

            <li class="breadcrumb-item">
              MacBook
            </li>
          </ol>
        </div>

        <div class="col-12">
          <h6>
            Hello world ! <span class="badge text-bg-danger rounded-pill text-uppercase">new</span>
          </h6>

          <button class="btn btn-primary rounded-pill">Click me</button>

          <div class="alert alert-primary">This is important info!</div>
        </div>

        <div class="col-12">
          <div class="alert alert-dark">
            <h6>
              Hello world ! <span class="badge text-bg-danger rounded-pill text-uppercase">new</span>
            </h6>
            <button class="btn btn-primary rounded-pill">Click me</button>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary rounded-pill mb-3">Click me</button>
          <div class="alert alert-dark">
            <h6 class="mb-2">
              Hello world ! <span class="badge text-bg-danger rounded-pill text-uppercase">new</span>
            </h6>
            <p class="m-0">Thiss is infffooooo</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>