<a href="{{href}}" {{#if blank}} target="_blank" {{/if}}><button type="button"
        class="btn btn-outline-primary">{{text}}</button></a>

{{!-- {{#unless noLine}}

{{#if line}}
---
{{else}}
/
{{/if}}

{{/unless}} --}}