<nav>
    {{> button text="Skiils" href="/skills" line=true }}
    {{> button text="Summary" href="/summary" line=true }}
    {{> button text="Education" href="/education" line=true }}
    {{> button text="Work" href="/work" line=true}}
    {{> button text="Person" href="/person" line=true}}
    {{> button text="Program" href="/program" noLine=true}}
    {{!-- <a href="/skills">Skills</a> --}}
    {{!-- <a href="/summary">Summary</a> --}}
    {{!-- <a href="/education">Education</a> --}}
</nav>