<nav>
    {{> link text="Skiils" href="/skills" line=true }}
    {{> link text="Summary" href="/summary" line=true }}
    {{> link text="Education" href="/education" line=true }}
    {{> link text="Work" href="/work" line=true}}
    {{> link text="Person" href="/person" line=true}}
    {{> link text="Program" href="/program" noLine=true}}
    {{!-- <a href="/skills">Skills</a> --}}
    {{!-- <a href="/summary">Summary</a> --}}
    {{!-- <a href="/education">Education</a> --}}
</nav>