<nav class="p-2">
    {{> button text="Skiils" href="/skills" line=true }}
    {{> button text="Summary" href="/summary" line=true }}
    {{> button text="Education" href="/education" line=true }}
    {{> button text="Work" href="/work" line=true}}
    {{> button text="JS" href="/js" line=true}}
    {{> button text="List" href="/list" line=true}}
    {{> button text="Mac" href="/mac" line=true}}
    {{> button text="Person" href="/person" line=true}}
    {{> button text="Program" href="/program" line=true}}
    {{> button text="Shop Cart" href="/shopcart" line=true}}
    {{> button text="Shop Catalog" href="/shopcatalog" line=true}}
    {{> button text="Shop Home" href="/shophome" line=true}}
    {{> button text="Shop News" href="/shopnews" line=true}}
    {{> button text="Shop Order" href="/shoporder" line=true}}
    {{> button text="Shop Product" href="/shopproduct" line=true}}
    {{> button text="Shop Profile" href="/shopprofile" line=true}}
    {{> button text="Shop Review" href="/shopreview" line=true}}
    {{> button text="Task 21" href="/task21" line=true}}
    {{> button text="Task 22" href="/task22" line=true}}
    {{> button text="Task 31" href="/task31" noLine=true}}
    {{!-- <a href="/skills">Skills</a> --}}
    {{!-- <a href="/summary">Summary</a> --}}
    {{!-- <a href="/education">Education</a> --}}
</nav>